/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        BASE_LAYER {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "QWERTY";
            bindings = <
&kp ESCAPE        &kp Q  &kp W  &kp E         &kp R           &kp T        &kp Y      &kp U          &kp I          &kp O    &kp P     &kp DELETE
&kp TAB           &kp A  &kp S  &kp D         &kp F           &kp G        &kp H      &kp J          &kp K          &kp L    &kp SEMI  &kp SQT
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C         &kp V           &kp B        &kp N      &kp M          &kp COMMA      &kp DOT  &kp FSLH  &mo 5
                                &kp LEFT_ALT  &kp LEFT_SHIFT  &kp ENTER    &kp SPACE  &kp BACKSPACE  &kp RIGHT_GUI
            >;
        };

        SYM_NUM_LAYER {
            display-name = "SYM_NUM";
            bindings = <
&trans  &kp EXCL      &kp AT         &kp HASH          &kp DLLR              &kp PRCNT         &kp CARET        &kp AMPERSAND          &kp ASTRK          &kp GRAVE         &kp TILDE  &kp BSPC
&trans  &kp NUMBER_1  &kp NUMBER_2   &kp NUMBER_3      &kp NUMBER_4          &kp N5            &kp NUMBER_6     &kp N7                 &kp N8             &kp N9            &kp N0     &kp KP_EQUAL
&trans  &kp PLUS      &kp LESS_THAN  &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS  &kp LEFT_BRACE    &kp RIGHT_BRACE  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp GREATER_THAN  &kp SLASH  &trans
                                     &trans            &trans                &trans            &trans           &trans                 &trans
            >;
        };

        NAV_LAYER {
            display-name = "NAV";
            bindings = <
&trans  &trans         &trans         &trans         &trans  &trans        &trans    &kp UP_ARROW  &trans     &trans  &kp PAGE_UP  &kp END
&trans  &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &trans  &bt BT_CLR    &kp LEFT  &kp DOWN      &kp RIGHT  &trans  &kp PG_DN    &trans
&trans  &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &trans  &trans        &trans    &trans        &trans     &trans  &kp HOME     &trans
                                      &trans         &trans  &trans        &trans    &trans        &trans
            >;
        };

        FIGMA_LAYER {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "FIGMA";
        };

        GAME_LAYER {
            bindings = <
&kp ESCAPE      &kp Q  &kp E  &kp W   &kp R      &kp T        &trans  &trans  &trans  &trans  &trans  &trans
&trans          &kp F  &kp A  &kp S   &kp D      &kp G        &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C   &kp V      &kp B        &trans  &trans  &trans  &trans  &trans  &trans
                              &trans  &kp LCTRL  &kp SPACE    &trans  &trans  &trans
            >;

            label = "GAME";
        };

        BLOCK_LAYER {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &to 0   &to 1   &to 2     &to 3   &to 4   &trans
            >;

            label = "BLOCK";
        };
    };
};
